body {
  background-color: #FFFFFF;
  color: #1F2659;
  font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 200; /* 'Extra-Light'; */
}

h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h4 {
  font-weight: bold;
}
a {
  color: #ED5B3A;
  text-decoration: none;
}

a:hover {
  color: #F79151;
  text-decoration: none;
}

.progress-bar-success {
    background-color: #027d65;
}

.btn-success {
    color: #fff;
    background-color: #027d65;
    border-color: #027d65;
}

.btn-primary {
    color: #fff;
    background-color: #027d65;
    border-color: #027d65;
}

.color0 {
  color: #000000;
}
.bgcolor0 {
  background-color: #000000;
}
.color1 {
  color: #FFFFFF;
}
.bgcolor1 {
  background-color: #FFFFFF;
}
.color2 {
  color: #F0F0F7;
}
.bgcolor2 {
  background-color: #F0F0F7;
}
.color3 {
  color: #ED5B3A;
}
.bgcolor3 {
  background-color: #ED5B3A;
}
.color4 {
  color: #027d65;
}
.bgcolor4 {
  background-color: #027d65;
}
.color5 {
  color: #F1CC72;
}
.bgcolor5 {
  background-color: #F1CC72;
}

th {
  font-weight: 600;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #EAEAEA;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #027d65;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #027d65;
  cursor: pointer;
}
