@import './variables.scss';

.survey-header {
  display: flex;
  padding: 1.5rem 2rem;
  align-items: center;
  background-color: $white;
  border-radius: $border-radius;
  margin: 2rem 2rem 0 2rem;
}

.tablet .survey-header {
  flex-wrap: wrap;
  padding-top: 2rem;
}

.survey-header > .back {
  margin-right: 2rem;
}

.survey-header a svg {
  vertical-align: middle;
}

.survey-header .status {
  margin-left: 2rem;
  white-space: nowrap;
}

.save-toolbar {
  display: flex;
  margin-left: auto;
}

.tablet .save-toolbar {
  margin: 1.5rem 0 0 0;
  flex-grow: 1;
}

.tablet .save-toolbar > button:not(.cancel) {
  flex-grow: 1;
}

.tablet .save-toolbar .cancel {
  margin: 0;
  padding: 0 2rem;
}

.unsaved-changes {
  margin: 0 auto 0 2rem;
  color: $grey-text;
}

.save-toolbar button {
  margin-left: 1.5rem;
  text-align: center;
  border-radius: $admin-radius;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1.4rem;
  min-width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.save-toolbar button.save {
  color: $white;
  background-color: $main-color;
}

.save-toolbar button.cancel {
  background-color: transparent;
  color: $grey-text;
  font-weight: 400;
  padding: 0;
  min-width: unset;
}

.save-toolbar button.cancel:hover {
  color: $black;
}

.survey-header h3, .survey-header p.unsaved-changes {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}