$font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$black: #000000;
$white: #FFFFFF;
$transparent-white: #FFFFFF80;
$light-grey: #F9F9F9;
$light-grey-on-grey: #efefef;
$grey-on-grey: #e0e0e0;
$grey: #D0D0D0;
$transparent-grey: #d0d0d080;
$dark-grey: #BFBFBF;
$darker-grey: #ADADAD;
$grey-text: #7D7D7D;
$darker-grey-text: #797979;
$orange: #FF9650;
$green: #027d65;
$blue: #00469A;
$blue-text: #1f2659;
$background-blue: #f0f0f6;
$light-blue: #dfdfec;
$red: #FF324E;
$orange: #FF9650;
$pink: #FD779F;
$beige: #F4ECE8;
$placeholder-color: #9D9D9D;
$shadow-color: rgba(150,170,180,.5);
$overlay: #E9E9F980;

$main-color: $green;
$background-color: #F3F3F4;
$box-background: #F9F9F9;
$border-color: $grey-on-grey;
$dark-border: $darker-grey-text;
$border: 1px solid $border-color;
$border-radius: 8px;
$admin-radius: 4px;
$one-corner: 8px 0 8px 0;
$dashed: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='black' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
$box-shadow: 0 7px 30px -10px $shadow-color;
$box-shadow-hover: 0 7.2px 30.9px -10.3px $shadow-color;
$block-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
$border-shadow: 3px 0 4px 0 rgba(0, 0, 0, 1);
$light-frame: 1px solid rgba(0,0,0,.02);

$line-height: 1.5;

$green-hover: darken($green, 5%);
$blue-hover: darken($blue, 5%);
$red-hover: darken($red, 15%);
$dark-green: darken($green, 10%);
$light-green: lighten($green, 66%);
$dark-red: darken($red, 33%);
$light-red: lighten($red, 20%);
$beige-hover: darken($beige, 2%);